<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Weathr</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="{{ url_for('static', filename='images/logo.png') }}" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Weathr</h1>
							<small class="site-description">Sunshine Tracker</small>
						</div>
					</a>
				</div>
			</div>

			<div class="hero">
				<div class="container">
					<form action="#" class="find-location">
						<input type="text" name="searchcity"  placeholder="e.g. New York, US">
						<input type="submit" value="submit">
					</form>

				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
{% for day in forecast_list %}
{% if loop.index <= 1 %}
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day">Today</div>
								<div class="date">{{ day[0] }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location">{{ city }}, {{ country }}</div>
								<div class="degree">
									<div class="num">{{ day[2] | round | int }}<sup>o</sup>C</div>
									<div class="forecast-icon">
										<img src="
										{% if day[3] == "moderate rain" %}
											{{ url_for('static', filename='images/icons/icon-9.svg') }}
										{% elif day[3] == "clear sky" %}
											{{ url_for('static', filename='images/icons/icon-2.svg') }}
										{% else %}
											{{ url_for('static', filename='images/icons/icon-2.svg') }}
										{% endif %}"
										 alt="" width=75>
									</div>	
								</div>
								<span><img src="{{ url_for('static', filename='images/icon-umberella.png') }}" alt="">20%</span>
								<span><img src="{{ url_for('static', filename='images/icon-wind.png') }}" alt="">{{ day[4] }} m/s</span>
								<span><img src="{{ url_for('static', filename='images/icon-compass.png') }}" alt="">East</span>
							</div>
						</div>

{% else %}

						<div class="forecast">
							<div class="forecast-header">
								<div class="day">{{ day[0] }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
									<div class="forecast-icon">
										<img src="
										{% if day[3] == "moderate rain" %}
											{{ url_for('static', filename='images/icons/icon-9.svg') }}
										{% elif day[3] == "clear sky" %}
											{{ url_for('static', filename='images/icons/icon-2.svg') }}
										{% else %}
											{{ url_for('static', filename='images/icons/icon-7.svg') }}
										{% endif %}"
										 alt="" width="48">
									</div>
								<div class="degree">{{ day[2] | round }}<sup>o</sup>C</div>
								<small>{{ day[1] | round }}<sup>o</sup></small>
							</div>
						</div>
{% endif %}
{% endfor %}
					</div>
				</div>
			</div>

			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<p class="colophon">Copyright 2016 HitPixel. Made with Python/Flask.</p>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<div class="social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		
		<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
		
	</body>

</html>